<h1><%= pluralize(@recipes.size, 'Recipe') %></h1>

<% @recipes.each do |recipe| %>
  <article>
    <header>
      <h3><%= link_to recipe.name, recipe %></h3>
    </header>
    <table>
      <tr>
        <td><%= truncate(recipe.description, length: 50) %></td>
      </tr>
    </table>
  </article>
<% end %>
