<article>
  <header>
    <h1><%= @recipe.name %></h1>
  </header>

  <h4>Ingredients:</h4>
  <ul>
  <% @recipe.ingredient_lines.each do |ingredient| %>
    <li><%= ingredient.quantity %>
        <%= ingredient.ingredient.name %></li>
  <% end %>
  </ul>

  <h4>Directions:</h4>
  <ul>
  <% @recipe.directions.each do |direction| %>
    <li><%= direction.step %></li>
  <% end %>
  </ul>
</article>
